@import "abstracts/variables";
@import "components/container";
@import "components/button";
@import "components/label";
@import "components/link";
@import "components/table";

body {
  font-size: $font-size-normal;
  color: $default-text-color;
  font-family: $font-family;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  background: $body-background-color !important;
  background-size: cover;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-x: hidden;
}
