
.link-button {
  border: none;
  background-color: transparent;
  z-index: 1000;
}

.link-button:focus {
  outline: none; 
}

.button-normal {
  font-family: $font-family;
  font-size: $font-size-normal;
  background-color: $button-background-color;
  color: $white-text-color;
  margin: auto;
  min-width: 100%;
}

.close-button {
     line-height: 12px;
     width: 18px;
     font-family: $font-family;
     font-size: $font-size-large;
     font-weight: bold;
     margin-top: 1px;
     margin-right: 8px;
     position:absolute;
     top:0;
     right:0;
     padding: 16px;
     cursor: pointer;
}

/* responsive queries */
// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
  .close-button {
    line-height: 12px;
    width: 18px;
    font-family: $font-family;
    font-size: $font-size-normal;
    font-weight: bold;
    margin-top: 1px;
    margin-right: 8px;
    position:absolute;
    top:0;
    right:0;
    padding: 16px;
    cursor: pointer;
}
}
