.component-container {
  margin-top: 12px !important;
}

.tab-container {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.col-container {
  padding: 12px;
  display: block;
  margin-top: 8px;
}

.detail-container {
  text-align: center;
}

.label-container {
  text-align: right;
  
}

.value-container {
  text-align: left;
}

.row-container {
  margin-right: 40px;
}

.spinner-container {
  vertical-align: middle;
  text-align: center;
}

.col-container {
  top: 10px;
  left: 12px;
}

.contact-card-parent-container {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  max-width: 100%;
  width: 100%;
}

.contact-card-container {
  position: absolute;
  background-color: $card-background-color;
  padding-bottom: 16px;
  margin-left: 8px;
  font-size: $font-size-normal; 
}

/* responsive queries */
// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
  .contact-card-container {
    position: fixed;
    background-color: $card-background-color;
    padding-bottom: 16px;
    margin-left: 8px;
    width: 90%;
    font-size: $font-size-small;
  }
}

.contact-card-header {
  padding: 12px;
}

.contact-tab-content {
  padding: 2px;
}

.no-contact-found {
  text-align: center;
  font-size: $font-size-normal;
  padding: 16px;
}

